.kml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

#Pre-trained model
pretrain_model/vit_small_p16_224-15ec54c9.pth
checkpoints/*/net_119.pth
checkpoints/*/*.mat

#removing checkpoints folder
checkpoints/
data/University-Release/*

#data/Custom-Data/test/*
data/Custom-Data/test/gallery_drone/*
data/Custom-Data/test/gallery_satellite/*
data/Custom-Data/test/query_drone/*
data/Custom-Data/test/query_satellite/*
data/Custom-Data/raw/*
*.zip
!data/Custom-Data/test/gallery_satellite/0000
!data/Custom-Data/test/query_satellite/0000
checkpoints/*/image_show/*
data/Custom-Data/processed-data/gallery_drone/*
data/Custom-Data/processed-data/gallery_satellite/*
data/Custom-Data/processed-data/query_drone/*
data/Custom-Data/processed-data/query_satellite/*
*.rar
*.png
